*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color: #ecf0f3;
}
.container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.calc{
    box-shadow: 6px 6px 13px #ccc,6px 6px 13px rgba(0,0,0,0.16);
    border-radius: 28px;
    padding:16px;
    display:grid;
    grid-template-columns:repeat(4,66px);
}